@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 20px; }

.nav-link:hover {
  transition: .4s;
  color: rgba(228, 84, 18, 0.5) !important; }

.bg-nav {
  background-color: rgba(0, 0, 0, 0.753) !important; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #FFF; }

.fundo {
  color: white;
  background: rgba(38, 45, 100, 0.75); }

.brilho {
  filter: brightness(45%); }

.bg-carousel {
  background-color: #f39200; }

#contato {
  background-color: #6C7989; }
  #contato h1 {
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px #000; }
  #contato p {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px #000;
    font-weight: bold;
    font-style: italic;
    font-size: 3vh;
    text-align: justify; }
  #contato button {
    background-color: #606a76; }
  #contato button:hover {
    background-color: #454c54; }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: bold;
  color: #000; }

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 3%;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: white;
  background-image: url("../assets/imgs/Pattern laranja opaco.png"); }
  #footer h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 9vh;
    padding-top: 9vh; }
  #footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3vh;
    text-align: justify; }

.fa-heart {
  color: #e45412; }

.footer-info {
  width: 100%;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px; }

@media (max-width: 700px) {
  .fa-heart {
    color: red; } }

@media (min-width: 1000px) {
  .fa-heart {
    color: blue; } }

.rotaciona {
  transform: rotate(180deg); }

.poligono {
  background: none;
  transform: translateY(0px); }

#Projetos img {
  height: auto; }

#Projetos h1 {
  text-transform: uppercase;
  padding-top: 5%;
  color: #FFF;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px #000;
  background-color: #f39200;
  margin: 0;
  text-align: center; }

#Projetos p {
  text-align: left;
  padding-top: 25%;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem; }

.bg-poligono-projetos {
  background-color: #f39200; }

#serviços h1 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px #000; }

#serviços h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3.7rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px #000; }

#serviços img {
  width: 25rem;
  border-radius: 90%; }

#serviços p {
  text-shadow: 1px 1px #000;
  font-size: 1.5rem;
  text-align: center; }

#serviços .bgCard {
  background: rgba(243, 146, 0, 0.8);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 3vh; }

#serviços .zoom {
  overflow: hidden; }

#serviços .zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#serviços .zoom:hover img {
  -moz-transform: scale(1.19);
  -webkit-transform: scale(1.19);
  transform: scale(1.19); }

.bg-sobrenos {
  background-color: #6C7989; }

#sobrenos img {
  width: 17em; }

#sobrenos h1 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px #000;
  text-align: center; }

#sobrenos h2 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin-top: 1rem; }

#sobrenos p {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin-right: auto; }

#sobrenos ul li {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
  text-align: center;
  list-style: none; }

.rotate:hover {
  animation: rotation 1s infinite  linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(179deg); } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%; }

body {
  background-image: url("../assets/imgs/Pattern-desconstruído-LARANJA---sem-fundo (2).png");
  background-color: black;
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

.bg-dark {
  background-color: black !important; }

.fa-facebook {
  font-size: 4.5em;
  padding: .5rem;
  color: black; }

.fa-instagram {
  font-size: 4.5em;
  padding: .5rem;
  color: black; }
