@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');




.rotaciona{
    transform: rotate(180deg);
}

.poligono{
    background:none;
    // transform-origin: bottom;
    transform:translateY(0px);
}


