#Projetos{
    
    h1{
        text-transform: uppercase;
        padding-top: 5%;
        color:#FFF;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 10vh;
        text-shadow: 2px 2px #000;
        background-color: rgba(243,146,0,1);
        margin: 0;
        text-align: center;
    }
    
    p{
        text-align: left;
        padding-top: 25%;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }

   
}


.bg-poligono-projetos{
    background-color: rgba(243, 146, 0, 1);
}



