#serviços{
  h1{
    color: rgba(243,146,0,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px #000;
  }

  h2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 7vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px #000;
  }

  img{
    width:50%;
    border-radius: 90%;
  }

  p{
    text-shadow: 1px 1px #000;
  }

  .bgCard{
    background: rgba(243,146,0,.8);
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-size: 3vh;
    }

  .zoom{
    overflow: hidden;

  }

  .zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .zoom:hover img{
    -moz-transform:scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

}
  
  

