.bg-sobrenos{
  background-color: #6C7989;
}

#sobrenos{

img{
  width: 16em;
}

h1{
  color: rgba(243,146,0,1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin: 0 auto 70px;
}

h2{
  color: rgba(243,146,0,1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .3rem;
}

 p{
  color: rgba(255,255,255,1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin-right: auto;
}

ul li{
  color: rgba(255,255,255,1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px #000;
  text-align: center;
  list-style: none;
}

}


.rotate:hover {
animation:rotation 1s linear;
// -webkit-animation: rotation 2s infinite linear;

}

@keyframes rotation {
from {
        transform: rotate(0deg);
}
to {
      transform: rotate(179deg);
}
}

@keyframes fade{
from{
opacity: 0;
}
to{
opacity: 1;

}
}

@media (max-width:700px){
#sobrenos{

  img{
    width: 7rem;
    margin:0;
  }


  h1{
    color: rgba(243,146,0,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
    text-align: center;
    margin: 0 auto 20px;
  }

  h2{
    color: rgba(243,146,0,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    text-shadow: 2px 2px #000;
    text-align: center;
    margin-top:5px;
    margin-bottom:8px;
  }

   p{
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    text-shadow: 1px 1px #000;
    text-align: center;
    margin-right: auto;
    margin-bottom:18px;
  }

  ul li{
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    text-shadow: 1px 1px #000;
    text-align: center;
    list-style: none;
  }
 
}
}


