.bg-sobrenos{
    background-color: #6C7989;
}

.title-sobrenos{
    color: rgba(243,146,0,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px #000;
    text-align: center;
  }

  .sobrenos img{
    width: 50%;
  }

  .sobrenos h2{
    color: rgba(243,146,0,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    text-shadow: 2px 2px #000;
    text-align: center;
  }

  .sobrenos p{
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    text-shadow: 1px 1px #000;
    text-align: center;

  }
  .sobrenos ul li{
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    text-shadow: 1px 1px #000;
    text-align: center;
    list-style: none;
  }

  .rotate:hover {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}