@import "serviços.scss";
@import "footer.scss";
@import "navbar.scss";

.bg-dark{
    background-color: black !important;
}   

.fa-facebook{
    font-size: 4.5em;
    padding: .5rem;
    color: black;
}
.fa-instagram{
    font-size: 4.5em;
    padding: .5rem;
    color: black;
}

