
.carousel-caption{
    position: absolute;
    // top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators li {
    border-radius:50%;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    
}


.fundo{
    color: white;
    background: rgba(38, 45, 100, 0.75);
}

.brilho{
    filter: brightness(45%);
}



.bg-carousel{
    background-color: rgba(243,146,0,1);
}
