

#contato{
  h1{
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px #000;
  }

  p{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px #000;
    font-weight: bold;
    font-style: italic;
    font-size: 3vh;
    text-align: justify;
  }


  button{
    background-color: hsl(213,10,42);
  }

  button:hover{
    background-color: hsl(213,10,30);
  }
  
  background-color: #6C7989;
}

  

  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    color:#000 }

    @media (max-width:700px){
      #contato{
        h1{
          color: rgba(255,255,255,1);
          font-weight: bold;
          font-family: 'Poppins', sans-serif;
          font-size: 4vh;
          text-shadow: 2px 2px #000;
        }
      
        p{
          font-family: 'Poppins', sans-serif;
          color: white;
          text-shadow: 2px 2px #000;
          font-weight: bold;
          font-style: italic;
          font-size: 2vh;
          text-align: justify;
        }
      
      
        button{
          background-color: hsl(213,10,42);
        }
      
        button:hover{
          background-color: hsl(213,10,30);
        }
        
        background-color: #6C7989;
      }
      
        
      
        .invalid-feedback {
          display: none;
          width: 100%;
          margin-top: 0.25rem;
          font-size: 90%;
          text-transform: uppercase;
          font-weight: bold;
          color:#000 }
    }