#Projetos{
    img{
        // width: 25rem;
        height: auto;
    }

    h1{
        text-transform: uppercase;
        padding-top: 5%;
        color:#FFF;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 6rem;
        text-shadow: 2px 2px #000;
        background-color: rgba(243,146,0,1);
        text-align: center;
        // margin-top: 100px;
        margin-bottom: 0;
        // transform: translateY(6%);
    }
    
    p{
        
        text-align: left;
        padding-top: 25%;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
    }

   
}


.bg-poligono-projetos{
    background-color: rgba(243, 146, 0, 1);
}



