.bg-sobrenos {
  background-color: #6C7989; }

.title-sobrenos {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 10vh;
  text-shadow: 2px 2px #000;
  text-align: center; }

.sobrenos img {
  width: 50%; }

.sobrenos h2 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 8vh;
  text-shadow: 2px 2px #000;
  text-align: center; }

.sobrenos p {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  text-shadow: 1px 1px #000;
  text-align: center; }

.sobrenos ul li {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  text-shadow: 1px 1px #000;
  text-align: center;
  list-style: none; }

.rotate:hover {
  animation: rotation 2s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
