

#contato{
  h1{
    color: $Secondary-Color;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px #000;
  }

  p{
    font-family: 'Poppins', sans-serif;
    color: $Secondary-Color;
    text-shadow: 2px 2px #000;
    font-weight: bold;
    font-style: italic;
    font-size: 3vh;
    text-align: justify;
  }
  
  background-color: #6C7989;
}

  

  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    color:$Tertiary-Color }