@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 20px;
}

.nav-link:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgba(228, 84, 18, 0.5) !important;
}

.bg-nav {
  background-color: black;
}

sticky-top {
  position: fixed;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.fundo {
  color: #fff;
  background: rgba(38, 45, 100, 0.75);
}

.brilho {
  -webkit-filter: brightness(45%);
  filter: brightness(45%);
}

.bg-carousel {
  background-color: #f39200;
}

#contato {
  background-color: #6c7989;
}

#contato h1 {
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 10vh;
  text-shadow: 2px 2px #000;
}

#contato p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  font-style: italic;
  font-size: 3vh;
  text-align: justify;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 3%;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #fff;
  background-image: url('../assets/imgs/Pattern laranja opaco.png');
}

#footer h2 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 9vh;
  padding-top: 9vh;
}

#footer p {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 3vh;
  text-align: justify;
}

.footer-info {
  width: 100%;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
}

.fa,
.fa-heart {
  color: #e45412;
}

.rotaciona {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.poligono {
  background: none;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

#Projetos h1 {
  text-transform: uppercase;
  padding-top: 5%;
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 10vh;
  text-shadow: 2px 2px #000;
  background-color: #f39200;
  margin: 0;
  text-align: center;
}

#Projetos p {
  text-align: left;
  padding-top: 25%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.bg-poligono-projetos {
  background-color: #f39200;
}

.carousel-container {
  max-width: 80%;
  height: 80%;
}

#serviços h1 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px #000;
}

#serviços h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 3.7rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px #000;
}

#serviços img {
  width: 25rem;
  border-radius: 90%;
}

#serviços p {
  text-shadow: 1px 1px #000;
  font-size: 1.5rem;
  text-align: center;
}

#serviços .bgCard {
  background: #f39200;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 3vh;
}

#serviços .zoom {
  overflow: hidden;
}

#serviços .zoom img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#serviços .zoom:hover img {
  -webkit-transform: scale(1.19);
  transform: scale(1.19);
}

.bg-sobrenos {
  background-color: #6c7989;
}

#sobrenos img {
  width: 17em;
}

#sobrenos h1 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px #000;
  text-align: center;
}

#sobrenos h2 {
  color: #f39200;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin-top: 1rem;
}

#sobrenos p {
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin-right: auto;
}

#sobrenos ul li {
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
  text-align: center;
  list-style: none;
}

.rotate:hover {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(179deg);
    transform: rotate(179deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(179deg);
    transform: rotate(179deg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/imgs/Pattern-desconstruído-LARANJA---sem-fundo (2).png');
  background-color: black;
}

.bg-dark {
  background-color: black !important;
}

.fa-facebook {
  font-size: 4.5em;
  padding: 0.5rem;
  color: black;
}

.fa-instagram {
  font-size: 4.5em;
  padding: 0.5rem;
  color: black;
}
/*# sourceMappingURL=styles.css.map */
